* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-image: url("../foto/background-conteudo.png");
  margin: 0px;
  padding: 0px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}
.nav { 
  height: 74px;
  left: 0px;
  top: 0px;
  background: #000000;
  border-bottom: 3px solid rgba(255, 255, 255, 0.1);
  font-size: 30px;
  text-align: center;
  background-color: black;
}
.nav li {
  display: inline-block;
  color: white;
  padding: 2%;
  position: relative;
  margin-top: 0px;
  padding: 16px;
}
.nav ul {
  margin-top: 0px;
}
.nav li a:link {
  text-decoration: none;
  color: white;
}
.nav li a:visited {
  text-decoration: none;
  color: white;
}
article {
  margin-top: 40px;
  color: white;
  text-align: justify;
  padding: 20px;
  font-size: 20px;
  padding-left: 45px;
  padding-right: 45px;
}

figure {
  background-color: #181717;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}
figure img {
  width: 400px;
}
figcaption {
  color: white
}

.egipcia{
  float: right;
  padding:10px 4px 4px 4px;
  
  
}
.egipcia img{
  width: 170px;
  

}
.egipcia figcaption{
  color:white;
  max-width: fit-content;
  
}

#Foto {
  float: left;
}
#Foto img{
width:469px;
height: 270px;
}
#criptografiaRsa {
  float: left;
  max-width: fit-content;
}

#footer {
  height: 80px;
  background-color: #212529; 
  color: white;
  text-align: center;
  clear: both;
}
#footer img {
  height: 80px;
}
#footer li {
  margin-top: 22px;
  float: left;
  list-style-type: none;
}
#footer li img {
  height: 35px;
}
#footer img {
  height: 80px;
  float: right;
  margin-right: 50px;
}

p2{
  margin-left: -40px;
  font-size: 24px;
}
